/* 
    Document   : custom
    Created on : 27 déc. 2013, 22:22:47
    Author     : majdi
    Description:
        Purpose of the stylesheet follows.
*/

/* Advanced Search */
.advanced-search .form-list label { width:160px; padding-right:10px; }
.advanced-search .form-list .input-box input,
.advanced-search .form-list .input-box select { width: 131px }
.advanced-search .form-list .input-range input,
.advanced-search .form-list .input-range select { width: 55px }
.advanced-search .form-list li { float: left; width: 161px; }
.advanced-search #advanced-search-list {}
.advanced-search .form-list .input-box,
.advanced-search .form-list .input-range {  }
.advanced-search-amount { margin:0 0 10px; }
.advanced-search-summary { margin:10px 0; border:1px solid #e9d7c9; background:#fff6f1; padding:10px; }
.advanced-search-summary ul { float:left; width:49%; }
.advanced-search-summary strong { color:#E17C24; padding-left:15px; background:url(../images/i_search_criteria.gif) 0 3px no-repeat; }
.advanced-search-summary p { clear:both; font-weight:bold; margin:0; }
.advanced-search.fieldset {  padding: 22px 17px 12px; /*float: left; display: block; margin: 0;*/ }


.enter-store {
    display: block;
    margin: 0 auto;
    width: 186px;
}


.header a.logo {
    margin: 15px 0 30px;
}


/* 'star-rating' component */
.starRate {position:relative; overflow:hidden; zoom:1; display: none;}
.starRate ul {width:160px; margin:0; padding:0;}
.starRate li {display:inline; list-style:none;}
.starRate a, .starRate b {background:url(../images/star_rate.gif) left top repeat-x;}
.starRate a {float:right; margin:0 80px 0 -144px; width:80px; height:16px; background-position:left 16px; color:#000; text-decoration:none;}
.starRate a:hover {background-position:left -32px;}
.starRate b.bold {position:absolute; z-index:-1; width:80px; height:16px; background-position:left -16px;}
.starRate div b.bold {left:0px; bottom:0px; background-position:left top;}
.starRate a span {position:absolute; left:-300px;}
.starRate a:hover span {left:90px; width:100%;}

.rating-all-box {
     position:relative; margin:7px; overflow:hidden; zoom:1;width:85px;
}
.rating-all-box:hover .rating-box {
    display: none;
}
.rating-all-box:hover .starRate{
    display: block;
}


#wbi-blocked {
      background: url("../images/loader_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4000;
}


#wbi-blocked .loaderBox {
    background: url("../images/loaderbox.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 128px;
    left: 50%;
    margin: -64px 0 0 -64px;
    position: absolute;
    top: 50%;
    width: 128px;
}


#wbi-blocked .loaderBox .loaderImg {
    background: url("../images/loader.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 32px;
    margin: 32px 48px 0;
    width: 32px;
}


#loading-mask {
    color: #D85909;
    font-size: 1.1em;
    font-weight: bold;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    z-index: 500;
}

#loading-mask .loader {
    background: none repeat scroll 0 0 #FFF;
    border: 2px solid #000;
    color: #D85909;
    font-weight: bold;
    left: 50%;
    margin-left: -105px;
    padding: 15px 30px;
    position: fixed;
    text-align: center;
    top: 45%;
    width: 150px;
    z-index: 1000;
}

#loading-mask .loader {
    color: #D85909;
    font-weight: bold;
    text-align: center;
}